<div class="container">
  <label>Add a new book in the library</label>
  <code>
    <strong>TODO</strong>: create the book creation form.<br/>
    It should: 
    <ul>
      <li>allow entering all book fields</li>
      <li>use Bootstrap form controls look</li>
      <li>display two buttons: one to return to home page without saving the book and the other for saving the book and then return to home page</li>
      <li>locally validate the entered values (refer to the Book model to see accepted values)</li>
      <li><strong>BONUS</strong>: control the isbn field for ISBN-13 conformance</li>
      <li><strong>HUGE BONUS</strong>: use the node module <strong>google-books-search</strong> to find book characteristics given an ISBN reference, yeaahhh !!</li>
    </ul>
    Comment these instructions when done.
  </code>
  <form>
  </form
</div>