<search></search>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-primary pull-right btn-new-book" ui-sref="addBook">Add a new book</a>
    </div>
  </div>
  <div class="books">
    <div class="row">
      <div ng-repeat="book in $ctrl.books" class="book col-md-3">
        <div class="img-block">
          <img ng-src="{{ book.imageUrl }}" alt="{{ book.title }}" class="img-book img-responsive center-block">
        </div>
        <div class="margin-block text-center">
          <h3>{{ book.title }}</h3>
          <h4>
            <span>by: </span>{{ book.author }}</h4>
        </div>
        <button ng-click="$ctrl.displayDetails(book.id)" class="btn btn-primary center-block reed-more">reed more</button>
      </div>
    </div>
  </div>
</div>