<code>
  <h2>The home page</h2>
  <ul>
    <li>display all books contained in the database</li>
    <li>display within each div.book the book image, the title and the author name</li>
    <li>when a book is clicked, the book's details view must be displayed</li>
  </ul>
  <h2>The book's details view</h2>
  <ul>
    <li>the book's details view should be accessed via its own route
      <strong>/details/:id</strong>
    </li>
    <li>this route must be attached to a new component
      <strong>bookDetails</strong>
    </li>
    <li>the view must show all book's fields (image, title, and so on...)</li>
    <li>the view must supply a way to return to the home page</li>
  </ul>
  <ul>
    <li>
      <strong>BONUS</strong>: add the delete ability on the book's details view
    </li>
    <li>
      <strong>BONUS</strong>: ask for deletion confirmation with a Bootstrap modal dialog
    </li>
  </ul>
  <h2>The book add view</h2>
  <ul>
    <li>allow entering all book fields</li>
    <li>use Bootstrap form controls look</li>
    <li>
      display two buttons: one to return to home page without saving the book and the other for saving the book and then return
      to home page
    </li>
  </ul>
  <ul>
    <li>
      <strong>BONUS</strong>: locally validate the entered values (refer to the Book model to see accepted values)
    </li>
    <li>
      <strong>BONUS</strong>: control the isbn field for ISBN-13 conformance
    </li>
    <li>
      <strong>HUGE BONUS</strong>: use the node module
      <strong>google-books-search</strong> to find and prefill book characteristics given its ISBN reference, yeaahhh !!
    </li>
  </ul>
  <br/>
  <strong>PLEASE</strong>, if you finish before time the requested functionalities, take advantage of the remaining time to improve
  the site aesthetic will be much appreciated ;)
  <br/>
  <br/>
  <strong>MANDATORY!</strong> the linter is required and must not signal any error, neither on the back, neither on the front.
  <br/>
  <br/> * Suppress these instructions when work is done !
</code>