<div class="container">
  <div class="books">
    <div class="row">
      <div ng-repeat="book in $ctrl.googleBooks" class="book col-md-3">
        <div class="img-block">
          <img ng-src="{{ book.items.volumeInfo.selfLink }}" alt="{{ book.items.volumeInfo.title }}" class="img-book img-responsive center-block">
        </div>
        <div class="margin-block text-center">
          <h3>{{ book.items.volumeInfo.title }}</h3>
          <h4>
            <span>by: </span>{{ book.items.volumeInfo.authors }}</h4>
        </div>
        <button ng-click="$ctrl.displayDetails(book.id)" class="btn btn-primary center-block reed-more">reed more</button>
      </div>
    </div>
  </div>
</div>